[submodule "ouster-ros"]
	path = ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "robot_localization"]
	path = robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "navigation2"]
	path = navigation2
	url = https://github.com/ros-navigation/navigation2.git
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
